*{
	outline: 1px solid red !important;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#banner {
	background-color: #33bebe;
	color: white;
	font-size: 67px;
	font-family: helvetica;
	text-align: center;
	padding: 20px;
	margin: 0;
}

.app{
	display: -webkit-flex;
	display: flex;
}

.screenshot{
	max-width: 460px;
	margin: 30px;
}

.description{
	max-width: 705px;

	font-style: italic;
	font-weight: bold;
}